@keyframes anvil {
  0% {
    transform: scale(1) translateY(0);
    opacity: 0;
  }

  1% {
    transform: scale(1.04) translateY(10px);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 4px 1px rgba(255 80 80 / 50%), inset 0 0 2px 1px rgba(255 80 80 / 50%);
  }

  95% {
    transform: scale(2.5);
    box-shadow: 0 0 50px rgba(255 80 80 / 0%), inset 0 0 30px rgba(255 80 80 0%);
  }
}

.shockwave {
  position: relative;

  &::after {
    content: "";
    border-radius: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: -3px;
    animation: shockwave 600ms ease-in-out infinite;
  }
}
